/*전체 선택자
*{
  color: blue;
}
*/

/*태그 선택자
p{
  color: chocolate;
}
h2{
  color: red;
}
*/

/*아이디 선택자*/
#li3{
  color: blue;
}
#li5{
  color: red;
}

/*클래스 선택자*/
.li3{
  color: blue;
}
.li1{
  color: red;
}
.li5{
  background-color: aqua;
}

