.c1{
  color: blue;
}
.c2{
  color: #0000ff;
  /*color : #00f*/
}
.c3{
  color: rgb(0,0,255);
}
.c4{
  color: rgba(0,0,255,1);/*a위치는 투명도를 나타냄*/
}

.td1{
  text-decoration: overline;
}
.td2{
  text-decoration: underline;
}
.td3{
  text-decoration: line-through;
}
.td4>a{
  color: #000;
  text-decoration: none;/*하이퍼링크와 같이 이미 줄이 그어져 있는 곳에 사용하기 좋음*/
}
.td4>a:hover{
  text-decoration: underline;
}
.shadow{
  font-size: 100px;
  font-weight: 900;
}

.ts1{
  text-shadow: 10px 10px 10px orangered, 7px 7px 7px blue;
}
.ts2{
  color: rgba(255,255,255,0);
  text-shadow: 
              0px 0px 4px #ccc,
              0px -5px 4px #ff3,
              2px -10px 5px #fd3,
              -2px -15px 11px #f80,
              2px 19px 18px #f20;
}

.ws1{
  white-space: nowrap;
  /*
  nowrap
  1. 영역 이탈 : 한줄로 표시
  2. 공백 여러개 : 공백 1개로 처리
  3. 줄바꿈 처리 : 안함
  */
}
.ws2{
  white-space: pre;
  /*
  nowrap
  1. 영역 이탈 : 한줄로 표시
  2. 공백 여러개 : 공백 여러개로 처리
  3. 줄바꿈 처리 : 처리
  */
}
.ws3{
  white-space: pre-line;
  /*
  nowrap
  1. 영역 이탈 : 아래로 줄바꿈
  2. 공백 여러개 : 공백 1개로 처리
  3. 줄바꿈 처리 : 처리
  */
}
.ws4{
  white-space: pre-wrap;
  /*
  nowrap
  1. 영역 이탈 : 아래로 줄바꿈
  2. 공백 여러개 : 공백 여러개로 처리
  3. 줄바꿈 처리 : 처리
  */
}

.ls1{
  letter-spacing: 10px;
}
.ls2{
  letter-spacing: 20px;
}
.w-s1{
  word-spacing: 10px;
}
.w-s2{
  word-spacing: 20px;
}

.p{
  width: 500px;
  height: 40px;
  border: 1px solid black;
}
.ta1{
  text-align: left;
}
.ta2{
  text-align: right;
}
.ta3{
  text-align: center;
}
.ta4{
  text-align: justify;
}

.ti1{
  text-indent: 100px;
}
.ti2{
  text-indent: 200px;
}

.lh1{
  line-height: 30px;
}
.lh2{
  line-height: 50px ;
}
.lh3{ /*한줄일때만 가능한 가운데 정렬방법*/
  text-align: center;
  line-height: 40px;
}

.to{
  width: 300px;
  height: 30px;
  border: 1px solid black;
  white-space: pre;
  overflow: hidden;
}
.to1{
  text-overflow: clip;
}
.to2{
  text-overflow: ellipsis;
}

