<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Thymeleaf switch 테스트</h1>
	<hr>
	<p th:if="${num == 100}">100입니다.</p>
	<p th:if="${num == 200}">200입니다.</p>
	<p th:if="${num == 300}">300입니다.</p>
	<p th:if="${num == 400}">400입니다.</p>
	<hr>
	<th:block th:switch="${num}">
		<p th:case="100">100입니다.</p>
		<p th:case="200">200입니다.</p>
		<p th:case="300">300입니다.</p>
		<p th:case="400">400입니다.</p>
		<p th:case="*">100,200,300,400 모두 아닙니다.</p><!-- 반드시 case 가장 아래쪽에 배치 -->
	</th:block>
</body>
</html>