<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Thymeleaf each 테스트</h1>
	<hr>
	<h4 th:each="num : ${list1}" th:text="${num}"></h4>
	<hr>
	<th:block th:each="num1 : ${list1}">
		<h5 th:text="${num1}"></h5>
	</th:block>
	<hr>
	<!-- for(Student s : list2){ } -->
	<th:block th:each="s : ${list2}">
		<ul>
			<li th:text="${s.name}"></li>
			<li th:text="${s.age}"></li>
			<li th:text="${s.addr}"></li>
		</ul>
	</th:block>
	<hr>
	<ul th:each="s : ${list2}">
		<li th:text="${s.name}"></li>
		<li th:text="${s.age}"></li>
		<li th:text="${s.addr}"></li>
	</ul>
	<hr>
	<ul th:each="s,status : ${list2}"><!-- status : 반복회차에 대한 정보를 얻을 수 있음 -->
		<li th:text="${s.name}"></li>	
		<li th:text="${status.index}"></li>
		<li th:text="${status.count}"></li>
		<li th:text="${status.size}"></li><!-- 배열 사이즈 -->
		<li th:text="${status.even}"></li><!-- 짝수 : 짝수가 맞으면 true -->
		<li th:text="${status.odd}"></li> <!-- 홀수 : 홀수가 맞으면 true -->
		<li th:text="${status.first}"></li>
		<li th:text="${status.last}"></li>
		<li th:text="${status.current}"></li><!-- s와 같음 -->
	</ul>
	<hr>
	<p th:each="num : ${#numbers.sequence(1,5)}" th:text="${num}"></p> <!-- 반복을 돌릴 수 있도록 내장되어 있는 배열객체 -->
</body>
</html>