<!DOCTYPE html>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.6.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/default.css" />
<!-- 기본 js -->
<script src="/js/default.js"></script>
<script src="/js/sweetalert.min.js"></script>
<style>
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-wrap>div {
	margin-right: 20px;
}

.bg {
	color: #fff;
}
</style>
</head>
<body>
	<header class="header">
		<div>
			<div class="logo">
				<a href="/">hybye-연습사이트</a>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="#">메뉴1</a></li>
					<li><a href="#">menu2</a></li>
					<li><a href="#">menu3</a></li>
					<li><a href="#">menu4</a></li>
					<li><a href="#">menu5</a>
						<ul class="sub-menu">
							<li><a href="#">menu5-1</a></li>
							<li><a href="#">menu5-2</a></li>
							<li><a href="#">menu5-3</a></li>
							<li><a href="#">menu5-4</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<ul class="user-menu">
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>

			</ul>
		</div>
	</header>